%article
  -if @user.followers.empty?
    %p No one is following #{@user.username} yet.
  - %p
  	 @user.followers.each do |follower|
     %= avatar(follower.email)
     %a{href: "/#{follower.username}"} #{follower.username}